body{
    background-color: aquamarine;
    display: flex;
}
div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
img{
    width: 275px;
    border-radius: 40px;
}
h1{
    width: 200px;
    text-align: center;
}
button{
    background-color: rgb(149, 8, 8);
    width: 275px;
    border-radius: 40px;
    margin-bottom: 20px;
    height: 40px;
    color: white;
    box-shadow: 5px 5px 22px 6px rgb(5, 5, 5);
    border: none;
}
