body{
    background-color: #f0fdf3;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.imageContainer{
    width: 275px;
    border-radius: 40px;
    height: 275px;
    background-color: rgb(214, 214, 216);
    background-image: url("./kitty.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.description{
    text-align: center;
    font-size: 40px;
    color: #0aa92d;
}
h1{
    width: 200px;
    text-align: center;
    color: #8eeda3;
    margin: 15px auto;
}
button{
    background-color: #8eeda3;
    width: 275px;
    border-radius: 40px;
    margin-bottom: 20px;
    height: 40px;
    color: white;
    box-shadow: 5px 5px 22px 6px rgba(5, 5, 5, 0.1);
    border: none;
}
